<html>
  <head>

    <link rel="stylesheet" type="text/css" href="/main.css">

    <script src="jquery.js" type="text/javascript"></script>

    <title>Slideshow</title>

  </head>
  <body>

    <a class="button" href="/?page=1">Home</a>

    <ul id="slideshow">
      <li><img src="/images/cosmos.jpeg"/></li>
      <li><img src="/images/cubes.jpeg"/></li>
      <li><img src="/images/sunset.jpeg"/></li>
    </ul>


  </body>

</html>

<Script>

  var count = 0

 $("#slideshow li").hide(); $( $("#slideshow li")[0]).show();

  setInterval(function(){

    $("#slideshow li").hide();
    $( $("#slideshow li")[count]).show();
    count++
    if (count == 3) {
      count = 0
    }
  }, 3000);

</Script>
